<div id="editor-config"
     data-controller="editor-config"
     data-editor-config-codemirror-outlet='[data-controller~="codemirror"]'
     data-editor-config-preview-outlet='[data-controller~="preview"]'
     data-editor-config-font-value="<%= @config_obj.get('editor_font') || 'cascadia-code' %>"
     data-editor-config-font-size-value="<%= @config_obj.get('editor_font_size') || 14 %>"
     data-editor-config-editor-width-value="<%= [40, [(@config_obj.get('editor_width') || 72).to_i, 200].min].max %>"
     data-editor-config-preview-zoom-value="<%= @config_obj.get('preview_zoom') || 100 %>"
     data-editor-config-line-numbers-value="<%= @config_obj.get('editor_line_numbers') || 0 %>"
     data-editor-config-typewriter-mode-value="<%= @config_obj.get('typewriter_mode') || false %>"
     data-editor-config-indent-value="<%= @config_obj.get('editor_indent') || 2 %>"
     data-editor-config-theme-value="<%= @config_obj.get('theme') || '' %>">
</div>
